
.ui-area {
    background: #FFF;
}
.ui-area .ui-checkbox {
    margin-left: 0;
    vertical-align: middle;
}
.ui-area-title {
    height: 30px;
    padding: 0 12px;
    line-height: 30px;
    background: #D6EBB2;
    _padding-top: 5px;
    _height: 25px;
}
.ui-area-content {
    padding: 10px 12px;
    line-height: 25px;
}
.ui-area-content th {
    width: 100px;
    text-align: left;
    vertical-align: top;
}
.ui-area-content td {
    vertical-align: top;
}
.ui-area-item {
    display: inline-block;
    width: 80px;
    *display: inline;
    _height: 25px;
    zoom: 1;
}

.ui-area-layer {
    position: absolute;
    padding-top: 29px;
    border: 1px solid #7D889A;
    overflow: hidden;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}
.ui-area-layer .ui-radio {
    margin-left: 0;
}
.ui-area-layer-title {
    position: absolute;
    left: 0;
    top: 0;
    height: 28px;
    padding-left: 5px;
    border-bottom: 1px solid #7D889A;
    background: #7D889A;
    overflow: hidden;
    line-height: 28px;
    color: #FFF;
    font-weight: bold;
}
.ui-area-layer-close {
    width: 12px;
    height: 12px;
    top: 8px;
    right: 8px;
    margin: 0;
    padding: 0;
    border: 0;
    cursor: default;
    background: url(img/ecui.png) -90px -160px no-repeat;
}
.ui-area-layer-body {
    background-color: #FFF;
}
.ui-area-layer-inner {
    padding: 10px;
}
.ui-area-layer-header {
    padding-left: 12px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
}
.ui-area-layer-filter {
    padding-left: 12px;
    margin-bottom: 10px;
}
.ui-area-layer-buttons {
    padding-left: 12px;
    height: 25px;
}
