
/**
 * x-calendar
 */
.ui-x-calendar {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    height: 24px;
    background: white;
    *display: inline;
    *zoom: 1;
    z-index: 65535;
}
.ui-x-calendar-range-mode {
    width:227px;
}
.ui-x-calendar-fix-view {
    background: #FFF;
    text-align: center;
}
.ui-x-calendar-blank {
    font-size: 12px;
}
.ui-x-calendar-head-text {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height: 22px;
    line-height: 22px;
    vertical-align: middle;
    margin-right: 3px;
}
.ui-x-calendar-slt-timetype {
    width: 40px;
    margin-right: 10px;
}
.ui-x-calendar .ui-button,
.ui-x-calendar-layer .ui-button {
    padding: 0;
    margin: 0;
    border: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
}
.ui-x-calendar .ui-x-calendar-btn-nxt,
.ui-x-calendar-layer .ui-x-calendar-layer-btn-nxt {
    width: 18px;
    height: 18px;
    border: 1px solid #AAADB6;
    background-image: url(img/ecui.png);
    background-position: -57px -160px;
    vertical-align: middle;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
.ui-x-calendar .ui-x-calendar-btn-prv,
.ui-x-calendar-layer .ui-x-calendar-layer-btn-prv {
    width: 18px;
    height: 18px;
    border: 1px solid #AAADB6;
    background-image: url(img/ecui.png);
    background-position: -39px -160px;
    vertical-align: middle;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
.ui-x-calendar-btn-cancel {
    width: 8px;
    height: 19px;
    top: 1px;
    background: url(img/ecui.png) -77px -160px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    overflow: hidden;
    vertical-align: middle;
    padding-top: 1px;
    margin-right: 2px;
    border: 1px solid white;
    position: relative;    
}
.ui-x-calendar-btn-cal {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    overflow: hidden;
    vertical-align: middle;
    width: 21px;
    height: 20px;
    margin: 0 2px;
    background: url(img/icon.gif) 0 -160px;    
}
.ui-x-calendar-btn-cal .ui-button-icon {
    width: 16px;
    height: 15px;
    top: 4px;
    left: 4px;
    background-position: -32px -19px;
}
.ui-x-calendar-text {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
    font-size: 14px;
    font-family: Arial, Tahoma;
    color: #555;    
    *display: inline;
    *zoom: 1;
}
.ui-x-calendar-fix-view .ui-x-calendar-text {
    font-size: 15px;
}
.ui-x-calendar-fake-text {
    color: #F8F8F8;
}
.ui-x-calendar-fix-view .ui-x-calendar-fake-text {
    color: #FFF;
}
.ui-x-calendar-layer {
    border: 1px solid #C0CCDC;    
    background: #FFF;
    font-size: 12px;
    width: 225px;
    text-align: left;
    -o-box-shadow:  5px 5px 6px #999;
    -moz-box-shadow:  5px 5px 6px #999;
    -webkit-box-shadow:  5px 5px 6px #999;
    box-shadow:  5px 5px 6px #999;
}
.ui-x-calendar-layer-selmode {
    padding: 4px;
    border-top: 1px solid #C0CCDC;
}
.ui-x-calendar-layer-selmode-radio {
    margin: 0 2px 0 0;
    vertical-align: middle;
}
.ui-x-calendar-layer-selmode-text {
    margin-right: 7px;
    vertical-align: middle;
}
.ui-x-calendar-layer-buttons {
    height: 23px;
    border: 1px solid #F5F6FA;
    padding: 4px 10px;
    background: url(img/ecui-bg.png) 0 -168px;
}
.ui-x-calendar-layer-slt-year {
    width: 65px;
    margin-right: 10px;
    margin-left: 15px;
    vertical-align: middle;
}
.ui-x-calendar-layer-slt-month {
    width: 45px;
    margin-right: 20px;
    vertical-align: middle;
}
.ui-x-calendar-layer-buttons-ym .ui-x-calendar-layer-slt-year,
.ui-x-calendar-layer-buttons-yq .ui-x-calendar-layer-slt-year {
    margin-right: 46px;
    margin-left: 46px;
}
.ui-x-calendar-view {
    cursor: default;
    padding: 0 5px 5px 5px;
}
.ui-x-calendar-view table {
    margin: 0 auto;
    width: 100%;
}
.ui-x-calendar-view table td {
    cursor: default;
    width: 26px;
    height: 30px;
    margin: 5px;
    border: 1px solid #FFF;
    text-align: center;
    line-height: 20px;    
}
.ui-x-calendar-view-title {
    font-weight: bold;
}
.ui-x-calendar-view-item-last {
    border-right: 0;
}
.ui-x-calendar-view .ui-x-calendar-view-item-hover {
    /*border-color: #C2D79C;*/
    background-color: #DCEDC3;
}
.ui-x-calendar-view .ui-x-calendar-view-item-selected {
    /*border-color: #5F9303;*/
    background-color: #7BBE0E;
    color: #FFF;
    font-weight: bold;
}
.ui-x-calendar-view .ui-x-calendar-view-item-disabled {
    color: #B9BDC6;
}
.ui-x-calendar-view-item-mark {
    background-color: #4C95C9;
    color: #FFF;
}
.ui-x-calendar-view-item-disabled {
    color: #B9BDC6;
}
.ui-x-calendar-layer-ym-view .ui-x-calendar-view-item {
    width: 33%;
}
.ui-x-calendar-layer-yq-view .ui-x-calendar-view-item {
    height: 25px;
    text-align: center;
    line-height: 25px;
    cursor: default;
    border: 1px solid #FFF;
}
.ui-x-calendar-layer .ui-select-text {
    padding-left: 5px;
    border-width: 0;
    line-height: 21px;
}
.ui-x-calendar-select-options .ui-select-item {
    padding-left: 5px;
    cursor: default;
}
.ui-x-calendar-select-options .ui-select-item-focus {
    background: #59A0D0;
    color: #FFF;
}
.ui-x-calendar-select-options .ui-vscrollbar {
    width: 16px;
    background: #F0F0F0;
    padding: 16px 0;
}
.ui-x-calendar-select-options .ui-vscrollbar .ui-button {
    cursor: default;
    padding: 0;
    margin: 0;
    background-color: #D8D8D8;
}
.ui-x-calendar-select-options .ui-vscrollbar .ui-button-hover {
    padding: 0;
    margin: 0;
    cursor: default;
    border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
}
.ui-x-calendar-select-options .ui-vscrollbar-prev {
    width: 16px;
    height: 16px;
    border: 0;
    background: url(img/icon.png) -81px -203px no-repeat;
}
.ui-x-calendar-select-options .ui-vscrollbar-next {
    width: 16px;
    height: 16px;
    border: 0;
    background: url(img/icon.png) -63px -203px no-repeat;
}
.ui-x-calendar-select-options .ui-vscrollbar .ui-scrollbar-thumb {
    width: 16px;
    border-top: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0;
    border-left-width: 0;
    border-right-width: 0;
    background-image: none;
}
