.ui-checkbox {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin: 0 3px;
    overflow: hidden;
    background: url(img/ecui.png) 0 0 no-repeat;
    vertical-align: middle;
    *display: inline;
    zoom: 1;
}
.ui-checkbox-hover {
    background-position: -17px 0;
}
.ui-checkbox-checked {
    background-position: -34px 0;
}
.ui-checkbox-checked-hover {
    background-position: -51px 0;
}
.ui-checkbox-part {
    background-position: -102px 0;
}
.ui-checkbox-part-hover {
    background-position: -51px 0;
}
.ui-checkbox-disabled {
    background-position: -68px 0;
}
.ui-checkbox-checked-disabled {
    background-position: -85px 0;
}
