.ui-fixed-table {
    position: relative;
}
.ui-fixed-table table {
    table-layout: fixed;
    width: 100%;
}
.ui-fixed-table-head {
    border-top: 1px solid #E6E6E6;
    background: url(img/ecui-bg.png) 0 4px repeat-x;
    background-color: #FFF;
}
.ui-fixed-table-outer {
    position: relative;
    width: 100%;
    border-right: 1px solid #E6E6E6;
}
.ui-fixed-table-inner {
    padding-left: 1px;
    overflow-x: hidden;
    overflow-y: visible;
}
.ui-fixed-table th, .ui-fixed-table td {
    padding: 0 3px;
    overflow: hidden;
    line-height: 30px;
    vertical-align: middle;
    border-bottom: 1px solid #E6E6E6;
    border-left: 1px solid #E6E6E6;
    white-space: nowrap; 
    word-break: keep-all;
    font-weight: normal;
}
.ui-fixed-table th {
    text-align: center;
    color: #3c75a2;
}
.ui-fixed-table td {
    height: 30px;
}
th.ui-fixed-table-hcell-sort {
    cursor: pointer;
    background: url(img/ecui-table.png) right -240px no-repeat;
}
th.ui-fixed-table-hcell-sort-asc {
    background: url(img/ecui-table.png) right -300px no-repeat;
}
th.ui-fixed-table-hcell-sort-desc {
    background: url(img/ecui-table.png) right -360px no-repeat;
}
.ui-fixed-table-row-hover td {
    background: #F6FAFB;
}
.ui-fixed-table-row-focus td {
    background: #E6F4FF;
}
.ui-fixed-table-row-highlight td {
    background: #FDF2EF;
}
.ui-fixed-table-scroll {
    overflow-x: scroll;
    overflow-y: hidden;
}
.ui-fixed-table-empty {
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    text-align: center;
    border-left: 1px solid #E6E6E6;
    border-right: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
}
.ui-fixed-table-scroll-inner {
    height: 1px;
}

.ui-fixed-table a {
    color: #117BD3; 
    text-decoration: none;
}