
.ui-lite-table {
    border-left: 1px solid #E6E6E6;
    border-top: 1px solid #E6E6E6;
    background: #FFF;
}
.ui-lite-table table {
    table-layout: fixed;
}
.ui-lite-table tr.highlight {
    background: #FEFACA;
}
.ui-lite-table-head {
    background: url(img/ecui-bg.png) 0 0 repeat-x;
    background-color: #FFF;
    overflow: hidden;
}
.ui-lite-table-hcell {
    padding: 5px 3px;
    border-right: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    font-weight: normal;
    text-align: center;
    color: #3C75A2;
    cursor: default;
    vertical-align: middle;
    white-space: nowrap;
}
.ui-lite-table-cell {
    padding: 0 3px;
    border-bottom: 1px solid #E6E6E6;
    border-right: 1px solid #E6E6E6;
    line-height: 30px;
    vertical-align: middle;
    word-break: break-all;
    word-wrap: break-word;
}
.ui-lite-table-cell-align-left {
    text-align: left;
}
.ui-lite-table-cell-align-right {
    text-align: right;
}
.ui-lite-table-cell-align-center {
    text-align: center;
}
.ui-lite-table-hcell-checkbox {
    width: 30px;
}
.ui-lite-table-hcell-sort {
    background: url(img/ecui-table.png) right -240px no-repeat;
}
.ui-lite-table-hcell-sort-asc {
    background: url(img/ecui-table.png) right -300px no-repeat;
}
.ui-lite-table-hcell-sort-desc {
    background: url(img/ecui-table.png) right -360px no-repeat;
}
.ui-lite-table-cell-empty {
    height: 40px;
    border-right: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    line-height: 40px;
    color: #999;
    text-align: center;
}
