
.ui-multi-calendar {
    display: inline-block;
    position: relative;
    width: 212px;
    height: 20px;
    border: 1px solid #A9ADB6;
    background-color: #FFF;
    vertical-align: middle;
    *display: inline;
    zoom: 1;
}
.ui-multi-calendar ul {
    list-style: none;
}
.ui-multi-calendar-text {
    height: 19px;
    margin-right: 40px;
    padding-left: 5px;
    line-height: 18px;
    font-size: 12px;
}
.ui-multi-calendar-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 20px;
    background: url(img/ecui.png) 0 -160px;
}
.ui-multi-calendar-cancel {
    position: absolute;
    top: 1px;
    right: 45px;
    height: 19px;
    width: 8px;
    background: url(img/ecui.png) -77px -160px;
}
.ui-multi-calendar-default {
    color: #979797;
}
.ui-multi-calendar-layer {
    padding: 15px 0 0 10px;
    border: 1px solid #7D889A;
    border-top-width: 2px;
    background-color: #FFF;
}
.ui-multi-calendar-layer-text strong {
    color: #104A78;
}
.ui-multi-calendar-layer-cal-area {
    display: inline-block;
    margin-right: 10px;
    *display: inline;
    zoom: 1;
}
.ui-multi-calendar-layer-buttons {
    margin-top: 10px;
    padding-bottom: 5px;
}
.ui-multi-calendar-panel {
    z-index: 65535;
    padding: 15px 0 0 10px;
    width: 474px;
    border: 1px solid #7D889A;
    border-top-width: 2px;
    background-color: #FFF;
}
.ui-multi-calendar-panel-text strong {
    color: #104A78;
}
.ui-multi-calendar-panel-cal-area {
    display: inline-block;
    margin-right: 10px;
    *display: inline;
    zoom: 1;
}
.ui-multi-calendar-panel-buttons  {
    margin-top: 10px;
    padding-bottom: 5px;
}
