.ui-pop {
    position: absolute;
    z-index: 3;
    padding: 10px;
    border: 1px solid #7D889A;
    border-top-width: 5px;
    background-color: #FFF;
}
.ui-pop-buttons {
    clear: both;
    padding-top: 5px;
}
.ui-pop-button {
    position: relative;
    padding-right: 20px;
}
.ui-pop-button-text {
    border: 0px;
    background: none;
}
.ui-pop-button .ui-pop-button-icon {
    position: absolute;
    top: 0;
    right: 4px;
    height: 18px;
    width: 11px;
    background: url(img/ecui.png) -17px -200px;
}
.ui-pop-button-disabled .ui-pop-button-icon {
    background-position: -17px -218px;
}
