
.ui-tip {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 0;
    background: url(img/ecui.png) -85px -200px no-repeat;
    vertical-align: middle;
    *display: inline;
    *zoom: 1;
}
.ui-tip-layer {
    position: absolute;
    z-index: 70000; 
    padding: 5px;
    max-width: 500px; 
    border: 1px solid #D4CA83;
    background: #FFF6BD;
    word-wrap: break-word;
    word-break: break-all;
}
.ui-tip-layer-corner {
    position: absolute;
    width: 20px;
    height: 13px;
    background: url(img/ecui.png) -85px -174px no-repeat;
    overflow: hidden;
}
.ui-tip-layer-corner-left-top {
    left: 17px;
    bottom: -13px;
    background-position: -105px -187px;
}
.ui-tip-layer-corner-right-top {
    left: 100%;
    margin-left: -37px;
    bottom: -13px;
    background-position: -85px -187px;
}
.ui-tip-layer-corner-left-bottom {
    left: 17px;
    bottom: 100%;
    margin-top: -13px;
    background-position: -105px -174px;
}
.ui-tip-layer-corner-right-bottom {
    left: 100%;
    margin-left: -37px;
    margin-top: -13px;
    bottom: 100%;
    background-position: -85px -174px;
}

.ui-tip-error {
    background: url(img/ecui.png) -104px -200px no-repeat;
    margin-left: 3px;
}
